:root {
  --background: #f4f5f9;
}

body {
  margin: 0;
  font-family: "Martel Sans", sans-serif;
  background-color: var(--background);
}

.card-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}
